body {
    background-color: #D8D8D8;
}

a:link {
    color: black;
}

h1 {
    color: black;
    text-align: center;
    font-family: impact;
    font-size: 50px;


}h3 {
    color: black;
    text-align: left;
    font-family: impact;
    font-size: 30px;
}

p {
    font-family: Agency FB;
    font-size: 20px;
    text-align: left;
}

.pagecontainer {
    width: 33.5em;
    margin: auto;
    margin-top: 1em;
}

.game {
    border-style: inset;
    border-width: 0.5em;
}

.chessboard {
    width: 75%;
    height: 100%;
    display: inline-flex;
    margin: 0em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 25px solid #333;
}
.black {
    display: inline-block;
    float: left;
    width: 1.2em;
    height: 1.2em;
    background-color: #999;
    font-size:50px;
    text-align:center;
    vertical-align:middle;
}
.white {
    display: inline-block;
    float: left;
    width: 1.2em;
    height: 1.2em;
    background-color: #fff;
    font-size:50px;
    text-align:center;
    vertical-align:middle;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.buttonbarcontainer {
    margin: auto;
    display: inline-block;
}