@()

    @main("HTWG Schach") {
        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/chess.css")' />
        <script src="@routes.Assets.versioned("javascripts/chess.js")" ></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">HTWG Schach</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/schach">Play Chess</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="card">
            <h1>About Chess</h1>
            <div class="card-body">
                <p class="card-text">
                    Chess is a two-player strategy board game played on a chessboard, a checkered gameboard
                    with 64 squares arranged in an 8×8 grid.[1] The game is played by millions of people worldwide.
                    Chess is believed to be derived from the Indian game chaturanga some time before the 7th century.
                    Chaturanga is also the likely ancestor of the Eastern strategy games xiangqi, janggi, and shogi.
                    Chess reached Europe by the 9th century, due to the Umayyad conquest of Hispania. The pieces
                    assumed their current powers in Spain in the late 15th century with the introduction of
                    "Mad Queen Chess"; the modern rules were standardized in the 19th century.
                </p>
                <p class="card-text">
                    Play does not involve hidden information. Each player begins with 16 pieces: one king, one queen,
                    two rooks, two knights, two bishops, and eight pawns. Each of the six piece types moves differently,
                    with the most powerful being the queen and the least powerful the pawn. The objective is to checkmate[note 1]
                    the opponent's king by placing it under an inescapable threat of capture. To this end, a player's pieces
                    are used to attack and capture the opponent's pieces, while supporting each other. During the game, play
                    typically involves making exchanges of one piece for an opponent's similar piece, but also finding and
                    engineering opportunities to trade advantageously, or to get a better position. In addition to checkmate,
                    a player wins the game if the opponent resigns, or (in a timed game) runs out of time. There are also
                    several ways that a game can end in a draw.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="container">
                            <div class="card">
                                <div class="card-body">
                                    <h3>
                                        Chessboard preview<br>
                                        <img src=@routes.Assets.versioned("images/Chessboard.png") class="img-fluid">
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="container">
                            <div class="card">
                                <div class="card-body">
                                    <h3>
                                        Rules<br>
                                    </h3>
                                    <div class="accordion" id="accordionExample">
                                        <div class="card">
                                            <div class="card-header p-0" id="headingOne">
                                                <h2 class="mb-0">
                                                    <button class="btn p-0 btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        <span class="icon">&#9818;</span>How to Move the King
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    The king is the most important piece, but is one of the weakest. The king can only move one square in any
                                                    direction - up, down, to the sides, and diagonally. The king may never move himself into check (where he
                                                    could be captured). When the king is attacked by another piece this is called "check".
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header p-0" id="headingTwo">
                                                <h2 class="mb-0">
                                                    <button class="btn p-0 btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                        <span class="icon">&#9819;</span>How to Move the Queen
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    The queen is the most powerful piece. She can move in any one straight direction - forward, backward,
                                                    sideways, or diagonally - as far as possible as long as she does not move through any of her own pieces.
                                                    And, like with all pieces, if the queen captures an opponent's piece her move is over. Notice how the
                                                    white queen captures the black queen and then the black king is forced to move.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header p-0" id="headingThree">
                                                <h2 class="mb-0">
                                                    <button class="btn p-0 btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                        <span class="icon">&#9820;</span>How to Move the Rook
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    The rook may move as far as it wants, but only forward, backward, and to the sides. The rooks are
                                                    particularly powerful pieces when they are protecting each other and working together!
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header p-0" id="headingFour">
                                                <h2 class="mb-0">
                                                    <button class="btn p-0 btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                                        <span class="icon">&#9821</span>How to Move the Bishop
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    The bishop may move as far as it wants, but only diagonally. Each bishop starts on one color
                                                    (light or dark) and must always stay on that color. Bishops work well together because they cover
                                                    up each other's weaknesses.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header p-0" id="headingFive">
                                                <h2 class="mb-0">
                                                    <button class="btn p-0 btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                                        <span class="icon">&#9822;</span>How to Move the Knight
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    Knights move in a very different way from the other pieces – going two squares in one direction,
                                                    and then one more move at a 90 degree angle, just like the shape of an “L”. Knights are also the
                                                    only pieces that can move over other pieces.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header p-0" id="headingSix">
                                                <h2 class="mb-0">
                                                    <button class="btn p-0 btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                                                        <span class="icon">&#9823;</span>How to Move the Pawn
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    Pawns are unusual because they move and capture in different ways: they move forward, but capture
                                                    diagonally. Pawns can only move forward one square at a time, except for their very first move where
                                                    they can move forward two squares. Pawns can only capture one square diagonally in front of them.
                                                    They can never move or capture backwards. If there is another piece directly in front of a pawn he
                                                    cannot move past or capture that piece.
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttoncontainer">
                    <a href="/schach" class="btn btn-primary">Play Chess<br></a>
                    <a href="#" class="btn btn-primary">Back to the top</a>
                </div>
            </div>
        </div>

    <icon-toggle></icon-toggle>


    }
