@import de.htwg.se.ChinaSchach.util.Point
@(controller:de.htwg.se.ChinaSchach.controller.controllerComponent.ControllerInterface)

@tile(i: Int, j: Int) = @{
    if(i % 2 == 0){
        if(j % 2 == 0){
            "brownTile"
        }else{
            "whiteTile"
        }
    }else{
        if(j % 2 == 0){
            "whiteTile"
        }else{
            "brownTile"
        }
    }
}

@main("HTWG Schach") {
    <div class="gamecontainer">
        <div class="game">
        @for(row <- 0 until 8) {
            @for(col <- 0 until 8) {
                <span class="cell">
                    <span class="@{"Piece"}">
                    @{controller.getPiece(Point(col, row))}
                    </span>

                </span>
            }
        </div>
        <div class="clear"></div>
        }
    </div>
    </div>
}