@import de.htwg.se.ChinaSchach.util.Point
@(controller:de.htwg.se.ChinaSchach.controller.controllerComponent.ControllerInterface)

<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/chess.css")' />

@piece(i: Int, j: Int) = @{
    controller.getPiece(Point(i, j)) match {
        case "Rook(b)" => <span>&#9820;</span>
        case "Rook(w)" => <span>&#9814;</span>
        case "Knight(b)" => <span>&#9822;</span>
        case "Knight(w)" => <span>&#9816;</span>
        case "Bishop(b)" => <span>&#9821;</span>
        case "Bishop(w)" => <span>&#9815;</span>
        case "Queen(b)" => <span>&#9819;</span>
        case "Queen(w)" => <span>&#9813;</span>
        case "King(b)" => <span>&#9818;</span>
        case "King(w)" => <span>&#9812;</span>
        case "Pawn(b)" => <span>&#9823;</span>
        case "Pawn(w)" => <span>&#9817;</span>
        case "EmptyField( )" => ""

    }
}


@main("HTWG Schach") {
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">HTWG Schach</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/schach">Play Chess</a>
                </li>
            </ul>
        </div>
    </nav>

    <script src="javascripts/chess.js"></script>
    <div class="chessboard">
    @for(row <- 0 until 8) {
        @for(col <- 0 until 8) {
            @if(row % 2 == 0){
                @if(col % 2 == 0){
                    <div style="cursor:pointer" onclick="clickFct(elmnt)" class="@{"black"}">
                        @piece(col, row)
                    </div>
                }else{
                    <div style="cursor:pointer" onclick="clickFct(elmnt)" class="@{"white"}">
                        @piece(col, row)
                    </div>
                }
            }else{
                @if(col % 2 == 0){
                    <div style="cursor:pointer" onclick="clickFct(elmnt)" class="@{"white"}">
                        @piece(col, row)
                    </div>
                }else{
                    <div style="cursor:pointer" onclick="clickFct(elmnt)" class="@{"black"}">
                        @piece(col, row)
                    </div>
                }
            }
        }
        <div class="clear"></div>
    }
    </div>
    <div class="buttoncontainer">
        <a href="/restart" class="btn btn-primary">Restart<br></a>
    </div>

}