@import de.htwg.se.ChinaSchach.util.Point
@(controller:de.htwg.se.ChinaSchach.controller.controllerComponent.ControllerInterface)

<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/chess.css")' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

@piece(i: Int, j: Int) = @{
    controller.getPiece(Point(i, j)) match {
        case "Rook(b)" => <span>&#9820;</span>
        case "Rook(w)" => <span>&#9814;</span>
        case "Knight(b)" => <span>&#9822;</span>
        case "Knight(w)" => <span>&#9816;</span>
        case "Bishop(b)" => <span>&#9821;</span>
        case "Bishop(w)" => <span>&#9815;</span>
        case "Queen(b)" => <span>&#9819;</span>
        case "Queen(w)" => <span>&#9813;</span>
        case "King(b)" => <span>&#9818;</span>
        case "King(w)" => <span>&#9812;</span>
        case "Pawn(b)" => <span>&#9823;</span>
        case "Pawn(w)" => <span>&#9817;</span>
        case "EmptyField( )" => ""

    }
}


@main("HTWG Schach") {
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">HTWG Schach</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/schach">Play Chess</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="pagecontainer">
        <div class="chessboard">
        @for(row <- 0 until 8) {
            <div class="cell">
                @for(col <- 0 until 8) {
                    <div class="cell">
                    @if(row % 2 == 0){
                        @if(col % 2 == 0){
                            <div class="@{"black"}">
                            @piece(col, row)
                            </div>
                        }else{
                            <div class="@{"white"}">
                            @piece(col, row)
                            </div>
                        }
                    }else{
                        @if(col % 2 == 0){
                            <div class="@{"white"}">
                            @piece(col, row)
                            </div>
                        }else{
                            <div class="@{"black"}">
                            @piece(col, row)
                            </div>
                        }
                    }
                    </div>
                }
            <div class="clear"></div>
            </div>
        }
        </div>
    </div>
}